<!doctype html>
<html>

  <head>
    <title>Musciteer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">
    <link async rel="stylesheet" type="text/css" href="/assets/android.css">
    <link rel="manifest" href="/assets/manifest.json">
  </head>

  <body>
    <script src="/assets/android.js"></script>
  </body>

</html>
