<!doctype html>
<html>

  <head>
    <title>MusicBox</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">
    <link async rel="stylesheet" type="text/css" href="/assets/application.css">
  </head>

  <body>
    <script src="/assets/application.js"></script>
  </body>

</html>
