<!doctype html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">

    <link href="/assets/application.css" rel="stylesheet" >
    <!--<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">-->
    <!--<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">-->
    <!--<link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">-->
    <!--<link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">-->
    <!--<link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="manifest" href="/assets/manifest.json">
  </head>

  <body>
    <script src="/assets/maquette.min.js"></script>
    <script src="/assets/application.js"></script>
  </body>

</html>
