#albums
{
  height: 100%;

  ol
  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #666;

    li
    {
      list-style: none;
      //display: inline-block;
      margin: 0 1em 2em 1em;
      width: 12em;

      .cover
      {
        position: relative;
        height: 12em;

        >img
        {
          position: absolute;
          top: 0;
          min-width: 12em;
          max-width: 12em;
          max-height: 12em;
          border: 1px solid #eee;
        }
        //z-index: 1;
      }

      .label
      {
        //background: linear-gradient(rgba(241, 239, 236, 1), rgba(241, 239, 236, 0));
      }

      .title, .artist
      {
        margin: 0.33em 0.33em 0.33em 0.33em;
        font-size: $text-normal;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      .title
      {
        cursor: default;
        font-size: $text-normal;
        font-weight: bold;
      }

      .artist
      {
        font-size: $text-small;
      }

      .artist:hover
      {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}
