#albums
{
  height: 100%;

  ol
  {
    li
    {
      .label
      {
      }

      .title, .artist
      {
        margin: 0.33em 0.33em 0.33em 0.33em;
        font-size: $text-normal;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      .title
      {
        cursor: default;
        font-size: $text-normal;
        font-weight: bold;
      }

      .artist
      {
        font-size: $text-small;
      }

      .artist:hover
      {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }

  @media (min-width: $break)
  {
    $cover-size: 12em;

    ol
    {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      color: #666;

      li
      {
        list-style: none;
        margin: 0 1em 2em 1em;
        width: 12em;

        .cover
        {
          position: relative;
          height: $cover-size;

          >img
          {
            position: absolute;
            top: 0;
            min-width: $cover-size;
            max-width: $cover-size;
            max-height: $cover-size;
            border: 1px solid #eee;
          }
        }
      }
    }
  }

  @media (max-width: $break)
  {
    $cover-size: 4em;

    ol
    {
      display: flex;
      flex-direction: column;
      color: #666;

      li
      {
        display: flex;
        border-bottom: 1px solid #eee;

        .cover
        {
          position: relative;
          height: $cover-size;

          >img
          {
            //position: absolute;
            //top: 0;
            min-width: $cover-size;
            max-width: $cover-size;
            max-height: $cover-size;
            border: 1px solid #eee;
          }
        }

        .label
        {
          min-width: 0;
        }
      }
    }
  }
}
