.footer
{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 1;

  #footer-left, #footer-right
  {
    flex: 1;
    padding: 0 1em;
  }

  #player-show-button
  {
    @include size(2em);
  }
}