#albums
{
  height: 100%;
  overflow-y: auto;

  ol
  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    li
    {
      list-style: none;
      //display: inline-block;
      margin: 1.33em;
      width: 12em;

      .cover
      {
        position: relative;
        height: 12em;

        >img
        {
          position: absolute;
          top: 0;
          min-width: 12em;
          max-width: 12em;
          max-height: 12em;
          border: 1px solid #eee;
        }
      }

      .title, .artist
      {
        margin: 0.33em 0.33em 0.33em 0.33em;
        font-size: 1em;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      .title
      {
        font-size: 1em;
        font-weight: bold;
      }

      .artist
      {
        font-size: 0.88em;
      }
    }
  }
}