#albums-container
{
}

#album-thumbs
{
  margin: 0 auto;
  height: calc(100vh - 3em);
  overflow-y: auto;
  text-align: center;
}

.album-thumb
{
  color: #333;
  width: 200px;
  margin: 1.33em;
  background-color: #eee;
  display: inline-block;

  div:nth-child(2) {
    min-height: 200px;
    max-height: 200px;
    display: table;
    vertical-align: top;
  }

  div:nth-child(1), div:nth-child(3) {
    margin: 0.33em 0.33em 0.33em 0.33em;
    font-size: 1em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  img {
    max-width: 200px;
    min-width: 200px;
    max-height: 200px;
  }
}
