#album-details-container {
  color: #000;
  position: fixed;
  top: 0;
  bottom: 0;
  overflow: auto;
  width: 100%;
  display: none;
  background:rgba(0,0,0,0.8);
  z-index: 100;
}

#album-details {
  width: 60%;
  padding: 2em;
  margin: 0px auto;
  color: #666;
  background-color: #fff
}
