#artist
{
  height: 100%;
  overflow-y: auto;

  div#artist-header
  {
    position: relative;
    display: flex;
    justify-content: right;
    align-items: flex-start;
    width: 100%;
    background-color: #333;

    div:nth-child(1)
    {
      align-self: flex-start;
      z-index: 2;
      padding: 0.66em;

      h1 {
        font-size: 1.75em;
        color: #ddd;
      }

      h2 {
        font-size: 1.25em;
        color: #ddd;
      }
    }
  }

  ol
  {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-begin;

    li
    {
      list-style: none;
      margin: 1.33em;
      width: 12em;

      .cover
      {
        position: relative;
        height: 12em;

        >img
        {
          position: absolute;
          top: 0;
          min-width: 12em;
          max-width: 12em;
          max-height: 12em;
          border: 1px solid #eee;
        }
      }

      .title, .artist
      {
        margin: 0.33em 0.33em 0.33em 0.33em;
        font-size: 1em;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      .title
      {
        cursor: default;
        font-size: 1em;
        font-weight: bold;
      }

      .artist
      {
        font-size: 0.88em;
      }

      .artist:hover
      {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}