#bottom-container
{
  position: absolute;
  height: 4em;
  width: 100%;
  background-color: $background-color;
  //background-color: rgba(140, 139, 127, 0.5);
  bottom: 0;
  left: 0;
  z-index: 3;
}

#bottom
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 0.33em 0 0;

  box-shadow: 0px -2px 15px rgba(140, 139, 127, 0.4);

  div#player-cover
  {
    flex: 1;
    height: 100%;
    >img
    {
      height: 4em;
      max-height: 4em;
    }
  }

  div#player-info
  {
    flex: 4;
    text-align: center;
    //text-overflow: hidden;
    white-space: nowrap;
    overflow: hidden;

  }

  div#player-ctrl
  {
    flex: 1;
    text-align: right;
    //text-overflow: hidden;
    white-space: nowrap;
    overflow: visible;

    div
    {
      display: inline-block;
      padding: 0 0.66em;
      overflow: visible;
    }

    div:nth-child(1)
    {
      svg
      {
        height: 2.75em;
        width: 2.75em;
      }
    }

    div:nth-child(2)
    {
      svg
      {
        height: 2.25em;
        width: 2.25em;
      }
    }

    button
    {
      background:$player-background-color;
      border: none;
      padding: 0 0.33em;
      outline: none;
      color: $player-button-color;
    }

    button:hover {
      background: $player-background-color;
    }

    button:active {
      border: none;
      background: $player-background-color;
    }
  }
}