#connection-lost-overlay
{
  color: #000;
  position: fixed;
  top: 0;
  bottom: 0;
  overflow: auto;
  width: 100%;
  display: none;
  background:rgba(0,0,0,0.75);
  z-index: 100;

  >div
  {
    width: 50%;
    text-align: center;
    padding: 1em;
    font-size: 3em;
    color: #eee;
    margin: 0 auto;
    //background: #fff;
  }
}
