@import "reset";
@import "mixins";
@import "layout";
@import "top";
@import "settings";

body
{
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
}

#play
{
  display: block;
  height: 50px;
  width: 200px;
  background: #999;
}