@import "reset";
@import "mixins";
@import "colors";
@import "router";
@import "top";
@import "bottom";
@import "settings";
@import "notification";
@import "albums";
@import "album";
@import "tracks";
@import "player";
@import "player_control";
@import "connection_lost";
@import "spotify";

html
{
}

body
{
  font-family: Impact, Charcoal, sans-serif;
  overflow: hidden;
  color: #666;
  height: 100%;
}

#top
{
  height: 3em;
}

#main
{
  display: flex;
}

#menu
{
  position: relative;
  top: 3em;
  display: none;
  flex: 1;
  height: 100vh;
  background: $background-color;
}

#content
{
  position: relative;
  top: 3em;
  flex: 4;
  height: calc(100vh - 7em);
  background:rgba(255,255,255,1);
}
