@import "reset";
@import "mixins";
@import "layout-android";
@import "top";
@import "connection_lost";
@import "settings";
@import "notification";
@import "albums";
@import "album_details";
@import "tracks";
@import "player";

html, body {
  height: 100%;

  >div {
    height: 100%;
  }
}

body
{
  background: #000;
}

