@import "reset";
@import "mixins";
@import "layout_android";
@import "top";
@import "connection_lost";
@import "settings";
@import "notification";
@import "albums";
@import "album_details";
@import "tracks";
@import "player";
@import "player_ctrl";

html, body {
  height: 100%;

  >div {
    height: 100%;
  }
}

body
{
  font-family: Impact, Charcoal, sans-serif;
  background: #000;
}

