$player-background-color: rgba(33,33,33,0);

#player-control-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  overflow: auto;
  width: 100%;
  background: $player-background-color;
  z-index: 1000;
  display: none;
}

#player-control
{
  position: relative;
  //z-index: 1001;
  background: rgba(22,22,22,0.8);
  width: 100%;
  height: 33%;

  >div
  {
    display: table;
    width: 100%;
    height: 100%;

    >div
    {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      width: 20%;

      button {
        background:$player-background-color;
        border: none;
        padding: 0.66em;
        outline: none;
        font-weight: bold;
        font-size: 1.33em;
        color: #aaa;
      }

      button:hover {
        background: $player-background-color;
      }

      button:active {
        border: none;
        background: $player-background-color;
      }
    }

    #player-toggle
    {
      img {
        height: 4em;
        width: 4em;
      }
    }

    #player-skip
    {
      text-align: left;
      img {
        height: 3em;
        width: 3em;
      }
    }
  }
}
