#player
{
  width: 100%;
  height:100%;

  >div:nth-child(1)
  {
    position: absolute;
    top: -3em;
    width: 50%;
    height: 100vh;
    color: #aaa;
    text-shadow: -1px 0 rgba(33,33,33,0.8), 0 1px rgba(33,33,33,0.8), 1px 0 rgba(33,33,33,0.8), 0 -1px rgba(33,33,33,0.8);
    background: linear-gradient(to right, rgba(33,33,33,1) 0px, rgba(33,33,33,0.8) 60%, rgba(33,33,33,0) 100%);
    z-index: 9;

    >div {
      display: table;
      height: 33%;
      padding: 1.33em;

      >div {
        display: table-cell;
      }
    }

    >div:nth-child(1) {
      >div {
        vertical-align: top;
      }
    }

    >div:nth-child(2) {
      >div {
        vertical-align: middle;
      }
    }

    >div:nth-child(3) {
      >div {
        vertical-align: bottom;

        .stream-duration {
          color: #aaa;
        }

        .stream-length {
          color: #666;
        }
      }
    }

    .player-track-title {
      color: #bbb;
      font-size: 2em;
      font-weight: bold;
    }

    .player-track-artists {
      color: #bbb;
      font-weight: bold;
      font-size: 1.33em;
    }

    .player-track-album {
      font-size: 1em;
      color: #aaa;
    }

    .player-stream-time {
      font-size: 1.33em;
    }
  }

  >div:nth-child(2)
  {
    //background: rgba(33,33,33,1);
    background: #212121;
    position: absolute;
    top: -3em;
    height: 100vh;
    width: 100%;
    img {
      position: absolute;
      right: 0;
      height: 100%;
      width: auto;
    }
    z-index: 8;
  }
}
