#navbar
{
  ul
  {
    padding-top: 0.66em;

    li
    {
      list-style: none;
      font-weight: bold;

      a
      {
        display: block;
        color: lighten($text-color, 20%);
        text-decoration: none;
        padding: 0.66em 1.33em;
      }

      &:hover
      {
        a
        {
          color: lighten($text-color, 0%);
        }
      }
    }

    li.active
    {
      a
      {
        color: lighten($text-color, 0%);
      }
    }
  }
}