@import "colors";

#settings-overlay
{
  color: #000;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  display: none;
  background:rgba(0,0,0,0.75);
  z-index: 100;
}

#settings
{
  position: fixed;
  width: 50%;
  min-width: 600px;
  height: 100vh;
  right: 0;
  background: $background-color;
  overflow-y: auto;
  overflow-x: hidden;

  >:nth-child(n+3)
  {
    border-top: 1px solid darken($background-color, 4%);
  }

  section {
    margin-top: 1em;
  }

  h1
  {
    font-size: 1.5em;
    padding-left: 1.5em;
    @include boxsizing;
  }

  h2
  {
    font-size: 1em;
    padding-left: 1.5em;
    padding-top: 1em;
    padding-bottom: 0.66em;
    @include boxsizing;
  }

  #settings-header
  {
    position: relative;
    height: 3em;
    border-bottom: 1px solid #ccc;

    > div, h1
    {
      position: absolute;
      width: 100%;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .settings-item
  {
    padding-bottom: 0.66em;
  }

  .settings-sub-item
  {
  }

  .settings-item, .settings-sub-item
  {
    display: table;
    table-layout: fixed;
    width: 100%;

    >div {
      display: table-cell;
      padding: 0 0.5em;
    }

    >:nth-child(1) {
      width: 25%;
      text-align: right;
      border-right: 1px solid darken($background-color, 4%);
    }

    >:nth-child(2)
    {
      div {
        width: 100%;
      }

      p {
        padding: 0.3em;
      }

      input[type=checkbox]
      {
      }

      select, input[type=text], input[type=password] {
        font-size: 1em;
        padding: 0.3em;
        width: 100%;
        border-radius: 3px;
        border: 1px solid #ddd;
        outline: none;
      }

      select
      {
        background: #fff;
        style: none;

      }

      input {
        @include boxsizing;
        margin: 0.2em;
      }

      button
      {
        background: $background-color;
        border: 1px solid darken($background-color, 8%);
        border-radius: 20px;
        margin: 0.3em;
        padding: 0.6em 30px;
        outline: none;
        font-weight: bold;
        color: $text-color;
        position: relative;

        @keyframes spin {
            from {transform:rotate(0deg);}
            to {transform:rotate(360deg);}
        }

        .scanning {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 0.3em;
          width: 1.5em;

          >div {
            border-radius: 50%;
            border: .15em solid #666;
            border-top-color: $background-color;
            animation: spin 1s infinite linear;
            height: 0;
            width: 0.5em;
            padding-bottom: 0.5em;
          }
        }

        &:hover {
          background: darken($background-color, 4%);
        }

        &:active {
          border: none;
          background: darken($background-color, 8%);
        }

        a {
          color: $text-color;
          text-decoration: none;
        }
      }
    }

    >:nth-child(3) {
      width: 25%;
    }
  }

  color: $text-color;
}
