.top
{
  position: relative;
  height: 3em;
  background: #F1EFEC;
  border-bottom: 1px solid #ccc;

  @include noselect;

  > div
  {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);

    >div {
      display: inline-block;
    }

    // Change display to center virtically.
    img {
      display: block;
    }
  }

  #menu-toggle, #settings-toggle  {
    position: relative;
    >img {
      height: 1.33em;
    }
  }

  #menu-toggle {
    float: left;
    padding-left: 1em;
  }

  #settings-toggle {
    float: right;
    padding-right: 1em;
  }
}
