$background-color: #F1EFEC;

.top
{
  position: relative;
  height: 3em;
  background: $background-color;
  border-bottom: 1px solid #ccc;

  @include noselect;

  >div
  {
    display: table;
    width: 100%;
    height: 100%;

    img {
      vertical-align: middle;
    }
  }

  #menu-toggle, #player-toggle, #settings-toggle
  {
    display: table-cell;
    vertical-align: middle;

    img {
      height: 1.33em;
    }
  }

  #menu-toggle
  {
    text-align: left;
    padding-left: 1em;
  }

  #settings-toggle
  {
    text-align: right;
    padding-right: 1em;
  }

  #player-toggle
  {
    text-align: center;

    button {
      background: darken($background-color, 0%);
      border: 1px solid darken($background-color, 8%);
      border-radius: 20px;
      padding: 5px 15px;
      outline: none;
      font-weight: bold;
      color: #666;
    }

    button:hover {
      background: darken($background-color, 4%);
    }

    button:active {
      border: none;
      background: darken($background-color, 8%);
    }
  }
}
