$player-background-color: rgba(33,33,33,0);
$player-button-color: rgba(160,160,160,1);

#top
{
  position: fixed;
  top: 0;
  background: $background-color;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 3em;
  z-index: 3;

  div
  {
    button
    {
      background:$player-background-color;
      border: none;
      padding: 0 0.33em;
      outline: none;
      color: $player-button-color;
    }

    button:hover {
      background: $player-background-color;
    }

    button:active {
      border: none;
      background: $player-background-color;
    }
  }

  div#top-menu, div#top-close
  {
    svg
    {
      stroke: $text-color;
      fill: $text-color;
      vertical-align: middle;
    }

    button:nth-child(1)
    {
      svg
      {
        height: 2.25em;
        width: 2.25em;
      }
    }
  }
}
