#tracks
{
  width: 100%;

  div.header
  {
    top: 0;
    font-weight: bold;
    width: 100%;

    >ol {
      width: 100%;
    }
  }

  div.body
  {
    overflow: auto;

    >ol {
      //width: 90%;
    }
  }

  ol
  {
    list-style: none;

    li
    {
      padding: 0.33em 1.33em;
      border-bottom: 1px solid #eee;

      div
      {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
      }

      .col1, .col2, .col3, .col4, .col5
      {
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
      }

      .col1 {
        width: 40%;
      }

      .col2,.col3 {
        width: 20%;
      }

      .col4,.col5 {
        width: 10%;
      }
    }
  }
}
