#tracks
{
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;

  table
  {
    margin: auto;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;

    tr
    {
      th, td
      {
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
        padding: 0.33em 0.66em;
        border-bottom: 1px solid #eee;
      }

      th
      {
        background: lighten($background-color, 4%);
        text-align: left;
      }

      &:hover
      {
        background-color: lighten($background-color, 2%);
      }

      .col1, .col2, .col3
      {
        width: 30%;
      }

      .col4, .col5
      {
        width: 5%;
      }
    }
  }
}
