.ninja_deps
.ninja_log

.mboxd

opal/.sass-cache/

public/assets/application.css*
public/assets/application.js
public/index.html

source/player/source_spotify_app_key.cpp

lib/json/nlohmann
lib/libspotify-12.1.51-Linux-x86_64-release
build/
