.ninja_deps
.ninja_log
.vscode

.musciteerdb

opal/.sass-cache/

public/assets/application.css*
public/assets/android.css*
public/assets/application.js
public/assets/android.js
public/index.html
public/android.html

source/player/source_spotify_app_key.cpp
source/spotify_web/id.h

lib/json/nlohmann
lib/libspotify-12.1.51-Linux-x86_64-release

build/

package/debian/*.deb
package/debian/stage