.ninja_deps
.ninja_log
.vscode

.musciteerdb

opal/.sass-cache/

public/assets/js/*.js
public/assets/css/*.css
public/index.html

source/player/source_spotify_app_key.cpp
source/spotify_web/id.h

lib/json/nlohmann
lib/libspotify-12.1.51-Linux-x86_64-release

build/
vagrant/.vagrant
vagrant/*.log

package/debian/*.deb
package/debian/stage